<div id="mc_embed_signup">
  <form action="//studiocraft.us13.list-manage.com/subscribe/post?u=53d65332ef68bfdcc203b272f&amp;id=b81b9166ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group input-group">
        <input type="text" value="" name="NAME" class="required" id="mce-NAME" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="mce-NAME">Name</label>
      </div>
      <div class="mc-field-group input-group">
        <input type="text" value="" name="POSITION" class="" id="mce-POSITION" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="mce-POSITION">Position <small>(optional)</small></label>
      </div>
      <div class="mc-field-group input-group">
        <input type="text" value="" name="CO" class="" id="mce-CO" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="mce-CO">Company <small>(optional)</small></label>
      </div>
      <div class="mc-field-group input-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="mce-EMAIL">Email</label>
      </div>
      <input type="submit" class="btn" value="Submit">
    </div>
  </form>
</div>
