* {
  box-sizing: border-box;
}

html,
body {
  background-color: #111111;
}

body {
  font-family: 'proxima-nova', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px;
}
.header .logo {
  float: left;
  margin: 0;
  height: 65px;
}
.header .company-name {
  float: right;
  margin: 0;
}

.bg {
  height: 200%;
  width: 200%;
  position: fixed;
  top: -50%;
  left: -50%;
  z-index: -1010;
}
.bg img {
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

main {
  position: relative;
  margin: 0 1rem;
  text-align: center;
}
main .wrapper {
  width: 33%;
  margin: 0 auto;
}
main footer {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
}

hr.divider {
  width: 65px;
  border: solid 2px #FFFFFF;
}

hr.spacer {
  border-color: transparent;
  margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bebas-neue', sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 72px;
  margin: 24px 0 12px;
  margin: 2.4rem 0 1.2rem;
}

h2 {
  font-size: 64px;
  margin: 18px 0 12px;
  margin: 1.8rem 0 1.2rem;
}

h3 {
  font-size: 48px;
  margin: 14px 0 12px;
  margin: 1.4rem 0 1.2rem;
}

h4 {
  font-size: 36px;
  margin: 12px 0 8px;
  margin: 1.2rem 0 0.8rem;
}

h5 {
  font-size: 28px;
  margin: 12px 0 8px;
  margin: 1.2rem 0 0.8rem;
}

h6 {
  font-size: 20px;
  margin: 8px 0 4px;
  margin: 0.8rem 0 0.4rem;
}

p {
  line-height: 1.6;
}

::-moz-selection {
  background-color: #00AEFF;
}

::selection {
  background-color: #00AEFF;
}

.btn {
  display: inline-block;
  width: 46%;
  padding: 6px 24px;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  border-radius: 3px;
  background-color: #00AEFF;
  text-decoration: none;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #0099E0;
}
.btn:not(:first-child) {
  margin-left: 3%;
}

form {
  margin-top: 35px;
}

.group {
  position: relative;
  margin-bottom: 25px;
}

input {
  color: #FFFFFF;
  background-color: rgba(17, 17, 17, 0.75);
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
  font-size: 15px;
  padding: 12px 24px;
  display: block;
  border: none;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 12px;
  transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #D9D9D9;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #00AEFF;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #00AEFF;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #00AEFF;
  }
  to {
    width: 0;
    background: transparent;
  }
}



/*# sourceMappingURL=app.css.map */
