* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: 1.5;
  background-color: $body-bg;
  color: $text-color;
}

.header {
  position: fixed;
  display: table;
  table-layout: fixed;
  width: 100%;
  top: 0;
  padding: 12px;
  clear: both;

  .logo {
    display: none;
  }

  @media (#{$tablet}) {
    .logo {
      display: table-cell;
      float: left;
      margin: 0;
      height: 65px;
    }
  }

  .logo_mobile {
    display: table-cell;
    float: left;
    margin: 0;
    height: 25px;
  }

  @media (#{$tablet}) {
    .logo_mobile {
      display: none
    }
  }

  .company-name {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    margin: 0;
  }
}

.bg {
  height: 200%;
  width: 200%;
  position: fixed;
  top: -50%;
  left: -50%;
  z-index: -1010;

  img {
    opacity: .15;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

main {
  position: relative;
  margin: 0 15px;
  text-align: center;

  .wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
  }

  footer {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
  border: none;
  border-top-color: $text-color;
  border-top-style: solid;
  border-top-width: 3px;
}

hr.divider {
  width: 65px;
}

hr.spacer {
  border-color: transparent;
}
