// Typography
//
// Headings, body text, lists, and other misc typographic elements.

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1 { font-size: 72px; margin: 24px 0 12px; margin: 2.4rem 0 1.2rem; }
h2 { font-size: 64px; margin: 18px 0 12px; margin: 1.8rem 0 1.2rem; }
h3 { font-size: 48px; margin: 14px 0 12px; margin: 1.4rem 0 1.2rem; }
h4 { font-size: 36px; margin: 12px 0 8px; margin: 1.2rem 0 0.8rem; }
h5 { font-size: 28px; margin: 12px 0 8px; margin: 1.2rem 0 0.8rem; }
h6 { font-size: 20px; margin: 8px 0 4px; margin: 0.8rem 0 0.4rem; }

p {
  line-height: 1.6;
}

.arrow {

}

::selection {
  background-color: $brand;
}
