// Variables
$brand:  #00aeff;
$white:  #fff;
$black:  #111;

$body-font-family: 'proxima-nova', sans-serif;
$headings-font-family: 'bebas-neue', sans-serif;

// Imports
@import 'base';
@import 'type';
@import 'inputs';
