<!DOCTYPE html>
<html id="MAdTech_splash" class="locked" lang="en">
  <head>
  {% include head.html %}
  </head>
  <body id="{{ page.slug }}" class="va-debug">
    <div id="loaderOverlay" class="text-center">
      <p class="animated pulse infinite">Loading ...</p>
    </div>
    <div class="bg">
      <img src="{{ site.baseurl }}/assets/images/bg.jpg">
    </div>
    <main id="content">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
  </body>
</html>
